.imgContainer {
  border: 5px dotted #dfe6f2;
  border-radius: 10px;
  padding: 10px;
  flex-direction: column;
  text-decoration: none;
  color: #241023;
  width: 30%;
}

img {
  width: 50%;
  align-self: center;
}

h3 {
  align-self: center;
} 

.imgContainer :hover {
  color: #f5bcd3;
}
