
section {
  border: 5px dotted #dfe6f2;
  padding: 10px;
  border-radius: 10px;
  margin: 2% 25%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #241023;
}

img {
  width: 50%;
  align-self: center;
}


h3 {
  align-self: center;
} 

.imgContainer :hover {
  color: #f5bcd3;
}
