  @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


.profilePic {

}

.bio {
  width: 150vh;
  height: auto;
  display: block;
  margin: 0 auto;
}

#pContainer {
  display: none;
  }
  
  #pContainer2 {
  display: none; 
  }