

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
}

.my-btn {
  text-decoration: none;
  color: black;
  --bs-btn-padding-y: .25rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: .75rem;
}

