
ul {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
  font-size: 1em;

}


.footerLinks {
  text-decoration: none;
  color: #f5bcd3;

}

footer {
  background-color: #241023;
  margin-top: 5%; 
  padding: 1%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}


@media screen and (max-width: 768px) {
  footer {
    position: relative;
  }
}
